$noMargin: 0px;
$centredText: center;
@mixin devices($breakpoint) {
    //the name of the mixin is devices

    @if $breakpoint == tablet {
        @media (min-width: 768px) and (max-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint == mobile {
        @media (min-width: 320px) and (max-width: 767px) {
            @content;
        }
    }
}

* {
    text-align: $centredText;
    margin: auto;
}
#header-row,
#footer-row {
    background-color: black;
    color: white;
    text-align: $centredText;
    margin: 0;
}
#title {
    color: black;
}
#picture-container {
    margin-left: 100px;
    margin-right: 100px;
    @include devices(mobile) {
        margin-left: 10px;
        margin-right: 10px;
        .col-4 {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }
    }
    @include devices(tablet) {
        margin-left: 50px;
        margin-right: 50px;
        .col-4 {
            display: flex;
            flex-wrap: nowrap;
            width: 50%;
        }
    }
    h4 {
        color: blue;
    }
}
.clickMe1 {
    list-style-type: none;
}
#poster {
    img {
        width: 550px;
        height: 900px;
    }
    @include devices(mobile) {
        width: 100px;
        height: 300px;
    }
}

li {
    text-align: left;
    margin: 10px;
    list-style-type: square;
}
h5,
h2 {
    text-align: left;
}
#details p {
    text-align: left;
}
.container-fluid > * {
    margin-left: 100px;
    margin-right: 100px;
    @include devices(mobile) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#poster-cast-row {
    @include devices(mobile) {
        display: flex;
        flex-wrap: wrap;
        .col-6 {
            width: 100%;
            img {
                width: 150px;
                height: 300px;
            }
        }
    }
    @include devices(tablet) {
        display: flex;
        flex-wrap: wrap;
        .col-6 {
            width: 100%;
            img {
                width: 250px;
                height: 400px;
            }
        }
    }
}
#crew-list,
#aka-list,
#episodes-list > li {
    @include devices(mobile) {
        font-size: small;
    }
}
.alert {
    background-color: rgb(236, 141, 141);
}
